<!-- base -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Phil Archive{% endblock %}</title>
    <!-- Link to your style.css file -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">Phil Archive</div>
        <nav>
            <a href="#">About</a>
            <a href="#">Contacts</a>
        </nav>
    </header>
    <div class="sidebar">
        <a href="#">Home</a>
        <a href="#">Projects</a>
        <a href="#">Skills</a>
        <a href="#">Videos</a>
        <a href="#">Books</a>
        <a href="#">Hobbies</a>
    </div>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Add your JavaScript files and other scripts here -->
</body>
</html>
